@font-face {
    font-family: 'ArilloUI';
    src: url('resources/font/Arillo_UI_Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


* {
  font: normal 100% "ArilloUI";
  font-family: Arial, Helvetica, 'ArilloUI', sans-serif;
cursor: default;
}

body {
  background-color: #4c4c4c;
  background: url('resources/img/logon.png');
  -webkit-background-size: cover;
  background-size: cover;
  display: table;
  height: 100%;
  width: 100%;
  margin: 0;

  font-size: 10pt;
  color:white;
}

.cover{
  width:100%;
  height:100%;
  background:rgba(76,76,76,0.65);
  position: absolute;
  z-index:-1;
}

body, span, div, img {
  -webkit-user-select: none;
}

input {
  border: none;
  border-radius: 4px;
  padding: 6px;
  background: rgba(255,255,255,0.16);
  color:rgba(255,255,255,0.82);
}

a {
  text-decoration: none;
}

.smooth {
  -webkit-transition: visibility 0s, opacity 0.3s, left 0.4s;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  -webkit-transition-delay: 0.3s, 0s, 0s;
}

.passhidden {
  opacity: 0;
  position:relative;
}

.passsmooth {
  -webkit-transition: opacity 0.1s;
}

.center {
  text-align: center;
}

.pass{
  position:relative;
  top: 4px;
  text-align: center;
}


.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 120px;
  text-align: center;
}

.footer, .header {
  width: 100%;
}

.headertext{
float: left;
  line-height: 25px;
  font-size: 11pt;
  margin-left: 10px;
  margin-top: 5px;}
.time {
  float: right;
  line-height: 25px;
  font-size: 11pt;
  margin-right: 10px;
  margin-top: 5px;
}

.login_content {
  display: table-row;
  top: -102px;
  position: relative;
}

.login_container {
  display: table-cell;
  vertical-align: middle;
}

#message {
  display: table-row;
  -webkit-transition: visibility 0s, opacity 0.3s, height 0.3s;
  height: 130px;
}

#message.hidden {
  height: 0px;
}

#message_content {
  display: table-cell;
  vertical-align: top;
  text-align: center;
}

#message_content.error {
  color: #FFF;
}

.user {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px; 
  margin-bottom: 20px;
  position: relative;
}

.user:active {
  opacity: 0.5;
}

.user_image_wrapper {
  border-radius: 80px;
  border: 2px solid #fff;
  -webkit-transition: all 0.3s ease-in-out;
  margin:10px;
}

.user_image {
  border-radius: 60px;
}

.user_image, .user_image_wrapper{
    width: 64px;
    height: 64px;
}

.user_name {
  display: block;
  margin-top: 20px;

}

.action {
  display: inline-block;
  width: 80px;
  margin-left: 40px;
  margin-right: 40px;
}

.action_image {
  width: 32px;
  height: 36px;
  margin-bottom: 9px;
}

.action_label {
  color: white;
}
